<!doctype html>
<html lang="en">
  <head>
    <title><%= current_page.data.title || 'Talks' %></title>
    <%= stylesheet_link_tag 'all' %>

    <meta charset="utf-8">
    <meta name="author" content="Filip Tepper">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <script type="text/javascript" src="http://127.0.0.1:4569/client.js"></script>
    <script type="text/javascript">
    var stylesheet = '';

    if (window.location.search.match(/print-pdf/gi)) {
      stylesheet = '<%= stylesheet_link_tag 'print/pdf', :media => :print %> ';
    } else {
      stylesheet = '<%= stylesheet_link_tag 'print/paper', :media => :print %> ';
    }

    document.write(stylesheet);

    var client = new Faye.Client('http://localhost:4569/');
    var subscription = client.subscribe('/controller', function(message) {
      console.log(message);
      switch(message) {
        case 'next': Reveal.right(); break;
        case 'previous': Reveal.left(); break;
      }
    });
    </script>
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
      <%= yield %>
      </div>
    </div>

      <%= javascript_include_tag 'all' %>
  </body>
</html>