---
title: Heroku
---

%section
  %h1 Heroku
  %h2 Praktycznie

%section.img-valign-middle
  %h2 Filip Tepper

  = image_tag 'logos/durszlak.png'
  = link_to 'durszlak.pl', 'http://durszlak.pl/'
  %br

  = image_tag 'logos/taptera.png'
  = link_to 'taptera.com', 'http://taptera.com/'
  %br

  = image_tag 'logos/blog.png'
  = link_to 'killingcreativity.com', 'http://killingcreativity.com/'
  %br

  = image_tag 'logos/blog.png'
  = link_to 'filiptepper.github.io', 'http://filiptepper.github.io/'

%section
  %h4 Czym jest Heroku?
  %p.fragment.h3 Platform as a Service

%section.img-valign-middle
  = image_tag '2013-heroku-wrug/hand.png'
  %span.padded versus
  = image_tag '2013-heroku-wrug/cloud.png'

%section
  %h3 IaaS
  %span.padded versus
  %h3 PaaS

%section
  = image_tag '2013-heroku-wrug/limit.png'

%section
  %h2 Ograniczenia platformy

%section{ :data => { :background => '#d53c33' }}
  %h3 Slug
  %p.fragment Skompresowany i gotowy do dystrybucji obraz aplikacji.

%section{ :data => { :background => '#d53c33' }}
  %h3 Slug

  ograniczenia
  %ul
    %li.fragment 15 minut kompilacji
    %li.fragment 300 MB rozmiaru

%section{ :data => { :background => '#d53c33' }}
  %h3 Slug

  rozwiązanie
  %ul
    %li.fragment .slugignore

%section{ :data => { :background => '#e89015' }}
  %h3 Boot timeout
  %p.fragment Czas, w jakim aplikacja jest gotowa do opowiedzi.

%section{ :data => { :background => '#e89015' }}
  %h3 Boot timeout

  ograniczenia
  %ul
    %li.fragment 60 sekund

%section{ :data => { :background => '#e89015' }}
  %h3 Boot timeout

  rozwiązanie
  %ul
    %li.fragment Trinidad (JRuby)

%section{ :data => { :background => '#202f6d' }}
  %h3 Request timeout
  %p.fragment Maksymalny czas odpowiedzi aplikacji.

%section{ :data => { :background => '#202f6d' }}
  %h3 Request timeout

  ograniczenia
  %ul
    %li.fragment 30 sekund

%section{ :data => { :background => '#202f6d' }}
  %h3 Request timeout

  rozwiązanie
  %ul
    %li.fragment brak
    %li.fragment monitorowanie!
    %li.fragment procesy w tle

%section{ :data => { :background => '#202f6d' }}
  %h3 Request timeout

  Ładowanie plików.

%section{ :data => { :background => '#202f6d' }}
  obrazek z Paper

%section{ :data => { :background => '#c97b91' } }
  %h3 rails_12factor
  = link_to 'The Twelve-Factor App', 'http://12factor.net/'

%section{ :data => { :background => '#c97b91' } }
  %h3 rails_12factor

  rozwiązanie
  %ul
    %li.fragment brak

%section
  %h2 Ograniczenia praktyczne

%section{ :data => { :background => '#44d699' } }
  %h3 Deployment

%section{ :data => { :background => '#44d699' } }
  %h3 Deployment

  ograniczenia
  %ul
    %li.fragment czas
    %li.fragment zero downtime

%section{ :data => { :background => '#44d699' } }
  %h3 Deployment

  rozwiązanie
  %ul
    %li.fragment
      preboot

%section{ :data => { :background => '#000000' } }
  %h3 Monitorowanie

%section{ :data => { :background => '#000000' } }
  %h3 Monitorowanie

  ograniczenia
  %ul
    %li.fragment tylko aplikacja

%section{ :data => { :background => '#000000' } }
  %h3 Monitorowanie

  rozwiązanie
  %ul
    %li.fragment
      brak

%section{ :data => { :background => '#d53c33' }}
  %h1 CENA

%section
  %h3 Czy warto?

  %span.fragment
    tak!
    %span.red ale

  %ul
    %li.fragment prototyp
    %li.fragment MVP
    %li.fragment YMMV

%section
  %h2 Dziękuję!
  = image_tag '2013-heroku-wrug/clapping.gif'